.employee-table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

.employee-table {
    border-collapse: collapse;
    width: 40%;
    margin-left: 10%
}

th, td {
    padding: 15px;
}

.td-part, .th-part {
    text-align: center
}